body { font: normal 90% Arial; background: #ddd; margin: 1em; }
#github-ribbon { position: absolute; top: 0; right: 1px; border: 0; }
#theme-switcher { position: absolute; right: 1em; top: 1em; }
#centered{ width: 425px; margin: 2em auto 0 auto; }
.advanced #centered{ width: 780px;}
#events{ border: 1px solid #aaa; padding: 1em; max-height: 10em; overflow: auto }
h1 { font-size: 1.5em; font-family: 'Droid Sans', arial, serif; }
h2 { font-family: 'Droid Sans', arial, serif; }
h1,h2,h3{-moz-text-shadow: 1px 1px 0 #FFFFFF; -webkit-text-shadow: 1px 1px 0 #FFFFFF; text-shadow: 1px 1px 0 #FFFFFF;margin:1em 0 .5em 0;}
img { border: 0;}
label { padding: .2em 0; display: block; position: relative; }
label input { position: absolute; left: 130px; top: 0; }
button { overflow: visible; white-space: nowrap; padding: .5em; cursor: pointer; border: 1px solid #bbb; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: #bbb 0 1px 4px; -webkit-box-shadow: #bbb 0 1px 4px; box-shadow: #bbb 0 1px 4px; color: #333; -moz-text-shadow: 1px 1px 0 #FFFFFF; -webkit-text-shadow: 1px 1px 0 #FFFFFF; text-shadow: 1px 1px 0 #FFFFFF; font: bold 12px helvetica,arial,freesans,clean,sans-serif; background: #f4f4f4; /* for non-css3 browsers */ filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ddd'); background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); background: -moz-linear-gradient(top,  #fff,  #ddd); /* For Internet Explorer 5.5 - 7 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFFFFFF, endColorStr=#DDDDDDFF); /* For Internet Explorer 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF)";}
#footer { border-top: 1px solid #aaa; margin-top: 3em; padding-top: .5em; font-size: .9em; color: #888; clear: both; }
#footer a { color: #888; text-decoration: none;}
#footer a:hover { text-decoration: underline; }
.helper-left { float: left; }
.helper-right { float: right; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
 html .clearfix { height:1%; }
* .clearfix { display:block; }
