body {
	background: #000;
	color: #fff;
	font: normal 14px/1 Arial;margin:3em;
}
h1 {
	font-size: 200%;
	margin-bottom: .6em;
	text-shadow: 2px 2px 2px #bb0000;
	text-indent: -400px;
	background: url(/img/logo.gif) no-repeat;
	height: 37px;
}
#logo {
	float: right;
	margin-top: 8px;
}
#player {
	float: left;
	position: relative;
}
#player-video {
}
#player-toolbar {
	display: none;
	float: left;
	margin: .4em 0 0 0;
}
#player-object {
	border: 1px solid #282828;
}
#player-toolbar li {
	cursor: pointer;
	float: left;
	list-style: none outside none;
	margin: 2px;
	padding: 4px 0;
	position: relative;
}
#player-toolbar li span.ui-icon {
	float: left;
	margin: 0 4px;
}
#player-infobar {
	margin: 12px 0px 0px 12px;
	color: #fff;
	font-size: 100%;
	position: absolute;
	float:left;
	background: #000;
	padding: 4px 6px;
	top: 0px;
	border: 1px solid #620D04;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	opacity: 0;
}
#player-playlist {
	display: none;
	max-height: 8.2em;
	overflow: auto;
	line-height: 1.4em;
	border: 1px solid #282828;
	margin-top: 4px;
	padding: 6px 6px 0px 0px;
	color: #eee;
	overflow-x: hidden;
}
#player-playlist li {
	list-style: none;
	cursor: pointer;
	white-space: nowrap;
}
#player-playlist li:hover {
	color:  #888;
}
#player-playlist li .ui-icon {
	float: left;
}
#player-loader {
	background: url(../img/player_spinner.gif) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: right;
	margin-top: 6px;
	display: none;
}
