body {
	background: #000;
	/*background: #000 url(/img/bg4.jpg) no-repeat bottom right;*/
	color: #fff;
	font: normal 14px/1 Arial;
	padding: 3em;
}
h1 {
	font-size: 200%;
	margin-bottom: .6em;
	text-shadow: 2px 2px 2px #bb0000;
	text-indent: -400px;
	background: url(/img/logo.gif) no-repeat;
	height: 37px;
}
#logo {
	float: right;
	margin-top: 8px;
}
#player {
	float: left;
	position: relative;
}
#player-video {
}
#player-toolbar {
	display: none;
	float: left;
	margin: .4em 0 0 0;
}
#player-object {
	border: 1px solid #282828;
}
#player-toolbar li {
	cursor: pointer;
	float: left;
	list-style: none outside none;
	margin: 2px;
	padding: 4px 0;
	position: relative;
}
#player-toolbar li span.ui-icon {
	float: left;
	margin: 0 4px;
}
#player-infobar {
	margin: 12px 12px 0px 12px;
	color: #eee;
	font-size: 102%;
	position: absolute;
	float: left;
	background: #000;
	padding: 3px 6px;
	top: 0px;
	border: 2px solid #620D04;
	cursor: pointer;
	z-index: 99;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px; 
	opacity: 0;
}
#player-playlist-scroller {
	max-height: 8.9em;
	overflow: hidden;
}
#player-playlists {
	margin-left: 6px; 
	border: 1px solid #282828; 
	height: 356px; 
	float: left;
	display: none;
}
#player-playlist, #player-playlists ol {
	line-height: 1.4em;
	color: #eee;
	margin: 8px 0 0 0;
	padding: 0px 16px 0px 32px;
	overflow-x: hidden;
	list-style-type: decimal;
}
#player-playlist li.ui-state-active, #player-playlists li.ui-state-active {
	color: #fff;
	border: 0 !important;
}
#player-playlist-container {
	position: relative;
	display: none;
	max-height: 8.9em;
	border: 1px solid #282828;
	margin-top: 4px;
}
#player-playlist-scrollbar {
	width: 20px;
	background: #000;
	height: 100%;
	right: 0;
	top: 0;
	position: absolute;
	z-index: 2;
}
#player-playlist-scrollbar-up {
	position: absolute;
	cursor: pointer;
	right: 2px;
	top: 5px;
	z-index: 2;
}
#player-playlist-scrollbar-down {
	position: absolute;
	right: 2px;
	bottom: 5px;
	cursor: pointer;
	z-index: 2;
}
#player-playlist li, #player-playlists li {
	cursor: pointer;
	white-space: nowrap;
	color: #999;
	text-decoration: none;
}
#player-playlist li:hover, #player-playlists li:hover {
	color:  #fff;
}
.player-loader {
	background: url(../img/player_spinner.gif) no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	float: right;
	margin-top: 6px;
	display: none;
}
.playlist-loading {
	background: url(../img/player_spinner.gif) no-repeat 6px 5px;
	padding-left: 22px;
	padding: 0 4px 0 28px;
	height: 22px;
	line-height: 22px;
}
.player-playlists-heading {
	display: block;
	height: 18px;
	margin: 10px 0 4px 16px;
	background: url(../img/playlists.gif) no-repeat 0 0;
}
